@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(242, 244, 247);
}

.spacer {
  padding-top: 5%;
}

.landing-img{
  background-image: url("1-13.jpg");
  height: 85%;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 8%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header {
 text-align:center;
}

.header-img{
  /* padding-top: 8%; */
  height: 45em;
  width: 30em;
}

.header2-img{
  padding-right: 8%;
}

.user_header {
  padding-top: 1%;
  padding-bottom: 1%;
}

/* image {
  border-radius: 0 !important;
}

.ui.card {
  border-radius: 0 !important;
} */

.ui.segment {
  border-radius: 0 !important;
} */

.Filter {
  float: right;
  margin-right: 5%;
}

.product_item_container{
  padding-left: 20%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
